/* ----- GLOBAL PROPS START ----- */
::-webkit-scrollbar {
    display: none;
}

:root {
    --fontColor: #f2f2f2;
    --font2ndColor: #999999;
    --mainColor: #e5890a;
    --main2ndColor: #9d5c0d;
    --main3rdColor: #3a3a3a;
}

* {
    font-family: "Century Gothic";
    font-weight: 300;
}

body {
    margin: 0;
    padding: 0;
    color: var(--fontColor);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-image: url("/src/resources/backgrounds/Requirements-01.png");
}

@font-face {
    font-family: "Century Gothic";
    src: local("GOTHIC"), url(/src/resources/fonts/GOTHIC.TTF) format("TTF");
}

.display-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.content-fit {
    padding: 10px 0;
    margin: 0 180px;
}

.prevent-drag {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.btn-1 {
    height: 40px;
    width: 150px;
    margin: 10px 0;
    color: var(--fontColor);
    background-color: #e5890a;
    font-size: 18px;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.btn-1:hover,
.btn-hover:hover,
.social-btn:hover,
.footer-wrapper .social-wrapper .social-icon:hover {
    opacity: 0.8;
    transition: 0.4s all;
}

.social-container .social-btn {
    color: var(--main3rdColor);
    background-color: var(--fontColor);
    border-radius: 100%;
    height: 60px;
    margin: 10px 5px;
}

.social-container .social-btn:hover {
    color: var(--main3rdColor);
    background-color: var(--fontColor);
}

.social-btn .social-icon {
    font-size: 26px;
}

.logo-wrapper {
    cursor: pointer;
}

.logo-wrapper .logo-name {
    width: 80px;
}

.logo-wrapper .logo-img {
    width: 70px;
}

.heading-wrapper {
    align-items: center;
    justify-content: start;
    margin: 100px 0 40px 0;
}

.heading-wrapper .heading-icon {
    font-size: 26px;
    color: var(--mainColor);
    margin-top: -7px;
}

.heading-wrapper .heading-title {
    text-transform: uppercase;
    font-size: 32px;
}

.heading-wrapper .heading-title::after {
    content: "";
    border-bottom: 1px solid var(--mainColor);
    margin-top: 7px;
    width: 100%;
    display: block;
}

/* ----- GLOBAL PROPS END ----- */

/* -------------------------------------------------------- */

/* ----- SLICK SLIDER START ----- */
.slick-slider .slider-img {
    width: 200px;
    height: 300px;
    margin: 40px 0;
    cursor: pointer;
    border: 3px solid var(--fontColor);
}

.slick-slider .slick-slide:nth-child(odd) .slider-img,
.slick-slider .slick-slide:nth-child(even) .slider-img {
    width: 140px;
    height: 220px;
    margin: 120px 0 0 50px;
    opacity: 0.5;
}

/* .slick-slider .slick-slide:nth-child(odd) .slider-img {
    width: 100px;
    height: 150px;
    margin: 190px 0 0 50px;
    opacity: 0.2;
} */

.slick-slider .slick-center .slider-img {
    width: 200px !important;
    height: 300px !important;
    margin: 40px 20px !important;
    opacity: 1 !important;
    box-shadow: 2px 2px 15px 6px var(--mainColor);
    -webkit-box-shadow: 2px 2px 15px 6px var(--mainColor);
    -moz-box-shadow: 2px 2px 15px 6px var(--mainColor);
}
/* ----- SLICK SLIDER END ----- */

/* -------------------------------------------------------- */

/* ----- ERROR PAGE START ----- */

/* ----- ERROR PAGE END ----- */

/* -------------------------------------------------------- */

/* ----- Header SECTION START ----- */
.header-section {
    position: fixed;
    height: fit-content;
    width: 100%;
    background-color: var(--main3rdColor);
    z-index: 99;
}

.header-section .header-wrapper {
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 7px 150px;
}

.header-wrapper .logo-wrapper .logo-img {
    width: 55px;
}

.header-wrapper .logo-wrapper .logo-name {
    width: 65px;
}

.header-wrapper .routes-wrapper {
    flex: 0 0 60%;
    justify-content: flex-end;
}

.header-wrapper .routes-wrapper span {
    margin: 0 20px;
    font-size: 17px;
    cursor: pointer;
}

.header-wrapper .user-wrapper img {
    width: 28px;
}

.header-wrapper .user-wrapper span {
    margin-left: 10px;
    font-size: 17px;
    cursor: pointer;
}

.header-wrapper .user-wrapper span:hover,
.header-wrapper .routes-wrapper span:hover,
.css-6hp17o-MuiList-root-MuiMenu-list li:hover {
    color: var(--mainColor);
    transition: all 0.5s;
}

.css-6hp17o-MuiList-root-MuiMenu-list li {
    font-size: 15px;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    width: 115px;
    height: 85px;
    margin-top: 10px;
    background: url("/src/resources/backgrounds/Requirements-01.png") fixed
        no-repeat cover;
}
/* ----- HEADER SECTION END ----- */

/* -------------------------------------------------------- */

/* ----- FOOTER SECTION START ----- */
.footer-section {
    position: relative;
    height: fit-content;
    width: 100%;
    margin-top: 60px;
    background-color: var(--main3rdColor);
    z-index: 99;
}

.footer-section .footer-wrapper {
    padding: 50px 0;
}

.social-wrapper .logo-wrapper {
    margin-right: 30px;
}

.social-wrapper .logo-wrapper .logo-name {
    width: 85px;
}

.social-wrapper .logo-wrapper .logo-name:hover {
    transform: translateY(-3px);
    transition: 0.6s all;
}

.footer-wrapper .social-wrapper .social-icon {
    border: 1px solid var(--fontColor);
    border-radius: 50%;
    padding: 10px;
    font-size: 16px;
    margin: 0 8px;
    cursor: pointer;
}

.footer-wrapper .social-wrapper .social-icon:hover {
    border: 1px solid var(--mainColor);
    box-shadow: var(--mainColor) 0 0 15px;
    transition: 0.6s all;
}

.footer-wrapper .policies-wrapper {
    margin: 12px 0;
    gap: 20px;
    font-size: 15px;
    cursor: pointer;
}

.footer-wrapper .copyright-wrapper {
    font-size: 15px;
    cursor: pointer;
}

.footer-wrapper .policies-wrapper span:hover,
.footer-wrapper .copyright-wrapper span:hover {
    color: var(--mainColor);
    transition: all 0.5s;
}
/* ----- FOOTER SECTION END ----- */

/* -------------------------------------------------------- */

/* ----- REGISTER ROUTE START ----- */
.register-route {
    background: url("/src/resources/backgrounds/Requirements-04.png") no-repeat
        center;
    height: 100vh;
}
/* ----- REGISTER ROUTE END ----- */

/* ----- REGISTER AND LOGIN ROUTE START ----- */
.reg-log-wrapper {
    padding: auto 0;
    padding-top: 20px;
    gap: 20px;
}

.reg-log-wrapper .logo-wrapper .logo-name {
    width: 150px;
}

.reg-log-wrapper .reg-log-header {
    font-size: 40px;
}

.reg-log-form input {
    width: 500px;
    height: 40px;
    border-radius: 50px;
    border: none;
    outline: none;
    padding-left: 40px;
    font-size: 18px;
}

.reg-log-form span {
    margin-top: 8px;
    margin-bottom: 20px;
    color: var(--font2ndColor);
}

.reg-login-link .btn-1 {
    width: 530px;
    height: 42px;
}

/* ----- REGISTER AND LOGIN ROUTE END ----- */

/* ----- LOGIN ROUTE START ----- */
.login-route {
    background: url("/src/resources/backgrounds/Requirements-04.png") fixed
        no-repeat center;
    height: 100vh;
}

.login-route .login-contact-us {
    margin-top: 10px;
}

.login-route .keep-logged span {
    color: var(--fontColor);
    margin: 0;
}
/* ----- LOGIN ROUTE END ----- */

/* -------------------------------------------------------- */

/* ----- HOME ROUTE START ----- */
.home-wrapper {
    padding-top: 120px;
}

.home-wrapper .slick-slider {
    position: relative;
    left: -25px;
}

.home-wrapper .btn-1 {
    display: block;
    margin: 0 auto;
}

.services-wrapper .services-container {
    justify-content: space-around;
    flex-wrap: wrap;
}

.services-container .services {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 30px;
    grid-template-rows: 120px 120px;
    grid-template-columns: 150px 150px;
    cursor: pointer;
}

.service .service-img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 2px solid var(--fontColor);
}

.service:hover .service-img {
    border: 2px solid var(--mainColor);
    transform: translateY(-2px);
    transition: 0.6s all;
}

.service .heading-title {
    padding-top: 5px;
    font-size: 18px;
}

.service:hover .heading-title {
    color: var(--mainColor);
    transform: translateY(-2px);
    transition: 0.6s all;
}

.home-wrapper .halls-wrapper {
    flex-wrap: wrap;
    gap: 30px;
}

.halls-wrapper .hall-img {
    border-radius: 10px;
    cursor: pointer;
}

.halls-wrapper .hall-img:hover {
    color: var(--mainColor);
    box-shadow: var(--mainColor) 0 0 15px;
    transform: translateY(-3px);
    transition: 0.6s all;
}
/* ----- HOME ROUTE END ----- */

/* -------------------------------------------------------- */

/* ----- MOVIE ROUTE START ----- */
.movie-route .movie-wrapper {
    gap: 20px;
    padding: 30px 40px;
}

.movie-wrapper .movie-details {
    flex: 30%;
}

.movie-details div {
    justify-content: flex-start;
}

.movie-details .movie-title {
    font-weight: bold;
}

.movie-details .movie-img {
    width: 230px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 15px 15px 12px -6px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 15px 15px 12px -6px rgba(0, 0, 0, 0.47);
}

.movie-details .movie-title {
    padding-top: 10px;
    color: var(--fontColor);
    font-size: 30px;
    font-weight: 900;
}

.movie-details .movie-info-text {
    font-size: 16px;
    padding-left: 40px;
}

.movie-details .rate-wrapper {
    gap: 10px;
}

.movie-details .details-wrapper {
    padding: 25px 0;
}

.movie-details .rate-wrapper .imdb-img {
    width: 30px;
    height: 20px;
    box-shadow: none;
}

.movie-wrapper .movie-booking {
    flex: 60%;
    gap: 50px;
}

.movie-booking .booking-form .btn-1 {
    margin-top: 50px;
}

.movie-booking .movie-trailer .MuiTypography-h5 {
    font-size: 28px;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root,
.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
    color: rgb(185, 185, 185) !important;
}

.css-1mf6u8l-MuiSvgIcon-root-MuiSelect-icon,
.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
    color: #e5890a !important;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    background: url("/src/resources/backgrounds/Requirements-01.png") !important;
}

.css-1480iag-MuiInputBase-root-MuiInput-root,
.css-6hp17o-MuiList-root-MuiMenu-list {
    color: white !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list li {
    justify-content: center !important;
}

.css-1480iag-MuiInputBase-root-MuiInput-root:before {
    border-bottom: 1px solid #e5890a !important;
}

.css-1480iag-MuiInputBase-root-MuiInput-root:after {
    border-bottom: 2px solid #e5890a !important;
}
/* ----- MOVIE ROUTE END ----- */

/* -------------------------------------------------------- */

/* ----- MOVIES ROUTE START ----- */
.movies-wrapper .movies-cards {
    flex-wrap: wrap;
    flex: 33.333%;
}

.movies-cards .movie-card {
    background-color: var(--font2ndColor);
    border-radius: 40px;
    width: 300px;
    height: 510px;
    margin: 30px 40px;
    cursor: pointer;
    text-align: center;
}

.movies-cards .movie-card:hover {
    background-color: #3a3a3a;
    transform: scale(1.05) translateY(-4px);
    box-shadow: var(--mainColor) 0 0 15px;
    transition: 0.6s all;
}

.movie-card .movie-card-img {
    width: 250px;
    height: 360px;
    margin: 20px auto;
    border-radius: 20px;
    transition: 0.6s all;
}

.movies-cards .movie-card-img:hover {
    opacity: 1;
    transition: 0.6s all;
}

.movie-card .movie-name {
    font-size: 20px;
    margin: 0 20px;
}

.movie-card-info .rate-wrapper .rate-number {
    font-size: 18px;
}

.movie-card .movie-name,
.movie-card-info .rate-wrapper .rate-number {
    color: var(--main3rdColor);
    font-weight: bold;
    transition: 0.6s all;
}

.movies-cards .movie-card:hover .movie-name,
.movies-cards .movie-card:hover .movie-card-info .rate-wrapper .rate-number {
    color: var(--mainColor);
    transition: 0.6s all;
}

.movie-card .movie-name,
.movie-card-info .rate-wrapper {
    gap: 10px;
}

/* ----- MOVIES ROUTE END ----- */

/* -------------------------------------------------------- */

/* ----- BOOKINGS ROUTE START ----- */
.bookings-wrapper .bookings {
    margin-top: 40px;
}

.bookings-wrapper .bookings .Collapsible {
    margin-top: 20px;
}

.bookings .Collapsible span {
    font-size: 22px;
    cursor: pointer;
}

.bookings .Collapsible span::after {
    content: "";
    padding-top: 15px;
    border-bottom: 1px solid var(--mainColor);
    width: 100%;
    display: block;
}

.bookings .Collapsible__trigger svg {
    color: var(--mainColor);
    transition: all 0.5s;
    float: right;
}

.bookings .Collapsible__trigger.is-open svg {
    transform: rotate(-90deg);
    color: var(--mainColor);
    transition: all 0.5s;
}

.bookings .ticket-wrapper img {
    width: 450px;
    height: 230px;
}

.bookings .ticket-operations a {
    color: var(--font2ndColor);
}

/* Isn't flexible */
.bookings-wrapper .ticket-operations {
    justify-content: space-between;
    margin: 0 250px;
}
/* ----- BOOKINGS ROUTE END ----- */

/* -------------------------------------------------------- */

/* ----- CHAT-BOT START ----- */
.chat-bot {
    position: fixed;
    z-index: 999;
}

.chat-bot .bot-wrapper {
    position: fixed;
    bottom: 120px;
    right: 140px;
}

.chat-bot .bot-btn-container {
    position: fixed;
    bottom: 70px;
    right: 90px;
}

.bot-btn-container .bot-btn {
    margin: 8px;
    width: 50px;
    height: 50px;
    border: none;
    font-size: 22px;
    border-radius: 50px;
    color: var(--fontColor);
    background-color: var(--mainColor);
    box-shadow: 1px 1px 2px var(--fontColor);
    cursor: pointer;
}
/* ----- CHAT-BOT END ----- */

/* -------------------------------------------------------- */
